.grid {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 300px;
}

#historialText{
  margin-left: 150px;
}



#vivides{
  margin-left:200px;
  margin-top: -40px;
}

#historial{
 margin-left: 100px;
 margin-top: -50px;
}

#resultado{
  margin-top: -10px;
}