.grid {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 300px;
}



h3:hover {
  background-color: blue;
  width: 70px;
  height: 20px;
  }
h3{
  background-color:green;
  width: 70px;
  height: 20px;
}
